ENABLE_UPLOAD=0
ENABLE_TRANSCRIPTION=0

GCP_PROJECT_ID=methodical-tea-237508
GCP_REGION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=/home/coder/skyscraper-backend.json

EDGE_HOSTNAME=http://localhost:3000
FILE_HOSTNAME=edge.sibyl.vision

GRAPHQL_PORT=4000
REDIS_HOST=127.0.0.1

MQTT_HOST=mqtt.skyscraper.ai
MQTT_PASSWORD=
MQTT_PORT=1883
MQTT_USERNAME=

MQTT_UPSTREAM_HOST=mqtt.skyscraper.ai

PRISMA_ENDPOINT=
PRISMA_SECRET=

SENTRY_URI=
