@import "material-dashboard/colors";

.v-list #logo-text {
  font-family: "Anonymous Pro", monospace !important;
  color: #fff;
  margin: 5px 0;
}

.v-navigation-drawer .v-list .v-list-item .v-list__tile.v-list__tile--active {
  background-color: $blue-grey-200;
  color: $blue-grey-900 !important;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
}

.stepper-header {
  background-color: #efefef;
}